<%- include("partials/header"); -%>
<div class="home-data">
    <h1>Home</h1>
    <p><%= startContent %> </p>
        <div class="compose-new">
            <a href="/compose">
            <button type="button" class="btn btn-success">Compose New Blog</button>
            </a>
        </div>


    <% var arry = [] %>
    <% for (var i = posts.length - 1 ; i >= 0 ;i--){ %>
            <h1> <a href="/posts/<%= posts[i]._id %>"> <%= posts[i].title %> </a></h1>
            <p class="date-time"><%= posts[i].datetime %> </p> 
            <div>
                <p class= "home-content" id = "<%= i %>" >
    
                </p>
                <hr>
            </div>
            <% arry.push(posts[i].content) %>
            <script>
                var $log = $( `#<%- i %>` ),
                str = `<%- posts[i].content %>`,
                html = $.parseHTML( str );               
                $log.append(html);
            </script>
    <%}%>



</div>

<%- include('partials/footer'); -%>


