<%- include("partials/header"); -%>
<div class="home-data">
    <h1>Home</h1>
    <p><%= startContent %> </p>
        <div class="compose-new">
            <a href="/compose">
            <button type="button" class="btn btn-success">Compose New Blog</button>
            </a>
        </div>
    <% posts.reverse().forEach(function(post){ %>
        <h1> <a href="/posts/<%= post._id %>"> <%= post.title %> </a></h1>
        <p class="date-time"><%= post.datetime %> </p>
        <p class="home-content">
        <%= post.content.substring(0,100) + "..." %>
        <a href="/posts/<%=  post._id  %>">Read more</a>
        <hr>
        </p>
    <% }) %>
</div>
<%- include('partials/footer'); -%>


