<%- include("partials/header"); -%>
<dir class="post-data">
    <h1 class="post-title"> <%= title %> </h1>
    <p class="date-time"><%= datetime %> </p>
    <p><%= content %> </p>
</dir>


<div class="post-button">
        <a href="/">
        <button type="button" class="btn btn-success">Back</button>
    </a>
</div>
<%- include('partials/footer'); -%>